body{
    margin: 0;
    font-family: Roboto, sans-serif;
}


.header-logo{
    font-size: 24px;
    color: #f9faf8;
    padding: 8px; 
    font-weight: bold;

}

.header-links{
    font-size: 18px;
    gap: 16px;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    margin-left: 50px;
    margin-right: 50px;
}

.below-header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;

}

.image img{
    width: 400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.container {
    background-color: #1f2937;
    height: 400px;
    padding: 8px;
}


.subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: 10px;
    width: 350px;
}
.main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}


button {
    padding: 8px 16px;
    border-radius: 8px;
}

.sign-up{
    width: 100px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
}

.main-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.info{
    height: 250px;
    background-color: white;

}

.images{
    display: flex;
    gap: 45px;
    justify-content: center;
}

.images img{
    width: 175px;
    height: 175px;
    border-radius: 32px;
}

.subtext-mid{
    width: 175px;
}

.quote{
    height: 350px;
    margin-top: 100px;
    background-color: #e5e7eb;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;  
}


.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 80px 100px 10px 100px;
    align-self: center;
    justify-self: center;
    padding: 20px;
    
}

.author-quote{
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 100px;
    padding: 5px;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #1f2937;
    color: white;
    padding: 8px;
  }

  .ad{ 
    margin-bottom: 100px; 
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    display:flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-between;
  }

  .ad-container-left{
    margin: 10px;
    border-radius: 10px;
    height: 100px;
    margin-left: 50px;
  }
  
  .ad-container-right{
    margin-right: 50px;
    padding: 8px;
  }

  .sign-up2{
    width: 100px;
    background: #3882f6;
    border: 2px solid #3882f6;
    color: white;
    font-weight: bold;
    border-color: white;
    margin-right: 50px;

    
  }

  .ad-text{
    color: white;
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;  
    font-size: 26px; 
  }

  .ad-subtext{
    color:lightgray;
  }





